.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      .btn.btn-navbar( data-target=".nav-collapse" data-toggle="collapse" type="button" )
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

      = link_to "Ex Libris", root_url, class: 'brand'

      - if current_user
        / See http://twitter.github.com/bootstrap/components.html#dropdowns
        .nav-collapse.collapse.pull-left
          %ul.nav
            %li{ class: "#{ active? :records }" }
              %a{ href: records_path }
                %i.icon-picture
                Inventario
            %li{ class: "#{ active? :books }" }
              %a{ href: books_path }
                %i.icon-book
                Libros

      .nav-collapse.collapse.pull-right
        %ul.nav
          - if current_user
            / See http://twitter.github.com/bootstrap/components.html#dropdowns
            %li#menu-user.dropdown.gravatar
              %a.dropdown-toggle{ href: "menu-user" }( data-toggle="dropdown" )
                %span
                  = gravatar_image_tag(current_user.email, alt: "")
                  = current_user.name
                %ul.dropdown-menu
                  %li{ class: "#{ active? :users }" }
                    %a{ href: signout_path }
                      Cerrar sesión
                      %i.icon-signout
          - else
            - unless params[:controller] == 'pages' and params[:action] == 'home'
              %li.active
                %a{ href: root_url }
                  Iniciar sesión
                  %i.icon-signin
