.container
  .row
    .span6
      .record
        %h1
          %i.icon-picture
          = t('helpers.record.title.show')
          %small
            %i.icon-book
            = number_of_books(@record) + " libros"

        .row.row-desktop
          = image_tag @record.picture.url(:medium), class: "img-polaroid", class: 'span6'
        .row.row-desktop
          .span6
            .record-actions
              %span.info
                %i.icon-map-marker
                Estante
                %strong
                  = @record.location
              %span.info{ href: '#', title: 'Este registro está listo para revisar.' }
                %i.icon-eye-open{ style: 'font-size: 18px;' }

              %nav.action.pull-right
                =# link_to raw('<i class="icon-comments"></i> 6 comentarios'), '#', class: 'btn btn-link'
    .span6
      = render 'books'
